/* Estilos comuns a todas as páginas */
/* Definição de charset */
@charset "UTF-8";
/* Importando a fonte Inter do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&display=swap');

/* Configurações gerais */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

h1 {
    font-size: 12px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: 12px;
    margin-right: 15px;
}

h2 {
    font-size: 24px;
    color: rgb(230, 134, 78);
    margin-left: 20px;
    margin-bottom: 0px;
}

p {
    color: rgb(0, 0, 0);
}

/* Header e Navbar */
header {
    background-color: rgb(49, 106, 190);
    height: 80px;
}

div#nav-container {
    width: 100%;
    position: absolute;
    display: flex;
    height: auto;
    justify-content: space-around;
}

div.row {
    width: 100%;
    padding-top: 10px;
    height: auto;
    vertical-align: middle;
}

div#left {
    justify-content: left;
    width: 200px;
}

div#middle {
    padding-left: 0px;
    margin-left: 0px;
    width: 180px;
    justify-content: left;
}

div#right {
    width: 100px;
    text-align: right;
    align-items: end;
}

nav.navbar {
    display: flex;
}

img#logo {
    width: 70%;
}

/* Área de Login (Main) */
div#area-login {
    margin-top: 50px;
    margin-left: 520px;
    justify-content: center;
}

