.ipynb_checkpoints
.idea
.vscode
.dist

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# C, C++ files #
*.exe
*.o
*.lib
*.so
*.dll
o.obj
a.out
*.swp
.~
thumbs.db

# Database Files #
.databases/
*.mwb
*.mwb.bak
/POO/CadastroAlunos/nbproject/private/
/POO/Vehicle/nbproject/private/
/POO/VehicleDemo/nbproject/private/
/POO/TwoVehicles/nbproject/private/
/POO/Media/nbproject/private/
/POO/Oficina/nbproject/private/
/POO/Area/nbproject/private/
/POO/Encapsulamento/nbproject/private/
/POO/Locadora/nbproject/private/
/POO/Sobrescrita/nbproject/private/
/POO/Escola/nbproject/private/
