.ipynb_checkpoints
.idea
.vscode
.dist

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# C, C++ files #
*.exe
*.o
*.lib
*.so
*.dll
o.obj
a.out
*.swp
.~
thumbs.db

# Arquivos de PI's específicos #
/PI-IV-B/PI-IV-B_EF/pi-ivb - Copia/
/PI-IV-B/PI-IV-B_EF/pi-ivb/

# Database Files #
.databases/
*.mwb
*.mwb.bak
/POO/CadastroAlunos/nbproject/private/
/POO/Vehicle/nbproject/private/
/POO/VehicleDemo/nbproject/private/
/POO/TwoVehicles/nbproject/private/
/POO/Media/nbproject/private/
/POO/Oficina/nbproject/private/
/POO/Area/nbproject/private/
/POO/Encapsulamento/nbproject/private/
/POO/Locadora/nbproject/private/
/POO/Sobrescrita/nbproject/private/
/POO/Escola/nbproject/private/
/POO/Abstracao/nbproject/private/
/POO/Interface/nbproject/private/
/POO/Polimorfismo/nbproject/private/
/POO/Sobrecarga/nbproject/private/
/POO/MetodosFinais/nbproject/private/
/POO/MetodosFinais2/nbproject/private/
/POO/GeometricProblem/nbproject/private/
/POO/GeometricProblem2/nbproject/private/
/POO/Singleton/nbproject/private/
/PI-IV-B/2023-10-28/Singleton/nbproject/private/
/PI-IV-B/2023-10-28/Adapter/nbproject/private/
/PI-IV-B/2023-10-28/Caldeira/nbproject/private/
/PI-IV-B/2023-10-28/Beverage/nbproject/private/
/PI-IV-B/2023-10-28/StarbuzzCoffee/nbproject/private/
/PI-IV-B/2023-10-28/PratoDeMassa/nbproject/private/
/PI-IV-B/2023-10-28/SimUDuck/nbproject/private/
/PI-IV-B/2023-10-28/MediaAlunos/nbproject/private/
/PI-IV-B/2023-10-28/CalculadoraTeste/nbproject/private/
