/* Configurações para dispositivos móveis - SGP: Menu Cadastro */
@media screen and (min-width: 480px) and (max-width: 859px) {
    div#menu-cadastro {
        width: auto;
        height: auto;
        flex-direction: column;
    }

    div#bloco-menu-cadastro {
        flex-direction: column;
        margin-top: 30px;
        height: 350px;
        width: 240px;
    }
    
    footer {
        flex-direction: column;
        position: fixed;
        bottom: 0;
        padding-top: 0px;
    }

    div#conteudo-footer, p#footer {
        padding-top: 5px;
    }
}

@media screen and (min-width: 860px) and (max-width: 1280px) and (orientation: landscape) {
    div#menu-cadastro {
        width: auto;
        height: auto;
        flex-direction: row;
    }

    div#bloco-menu-cadastro {
        flex-direction: row;
        margin-top: 30px;
        height: 120px;
    }
    
    footer {
        position: fixed;
        bottom: 0;
    }
}