@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap'); /* Importação de Fonte Externa do Google Fonts */

/* Formatação das Tags principais */
body {
    background-color: rgb(75,95,155);
}
h1 {
    font-family: 'Sen', sans-serif;
    font-size: 35pt;
    font-weight: bold;
    color: rgb(221,167,85);
    padding: 0px;
    margin: 0px;
}
h2 {
    font-family: 'Sen', sans-serif;
    font-size: 25pt;
    font-weight: bolder;
    color: rgb(62,95,193);
    padding: 0px;
    margin: 0px;
}
h3 {
    font-family: 'Sen', sans-serif;
    font-size: 15pt;
    font-weight: normal;
    color: rgb(60,60,60);
    padding: 0px;
    margin: 0px;
}
h4 {
    font-family: 'Sen', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: rgb(221,167,85);
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15pt;
}
p {
    font-family: 'Sen', sans-serif;
    font-size: 10pt;
    font-weight: normal;
    color: rgb(0,0,0);
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 25px;
    word-break: normal;
    white-space: normal;
}
p#script-cv {                   /* formatação específica do parágrafo do footer do index.html, onde está o script Date(), para que ficasse em fonte menor */
    font-size: 10px;
}
ol, ul, li {                    /* configurações para as listas em todas as páginas*/
    font-family: 'Sen', sans-serif;
    font-size: 10pt;
    font-weight: normal;
    color: rgb(0,0,0);
}
a {                             /* configuração dos links em todas as páginas */
    color: rgb(75,95,155);
    text-decoration: none;
}
a:hover {                       /* configuração para os links ao passar o mouse por cima em todas as páginas. escolhi usar bold ao invés de sublinhado */
    color: rgb(255,153,0);
    font-weight: bold;
    transition: 1s;
}
tr, td {                        /* estilos para a tabela de idiomas */
    font-family: 'Sen', sans-serif;
    font-size: 10pt;
}

/* Formatação de imagem com legenda, para a foto do CV no index.html */
figure.foto-cv {
    position: relative;
    border: 8px solid rgb(255,255,255);
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 3px rgb(0,0,0);
    float: right;
}
figure.foto-cv img {
    width: 100%;
    height: 100%;
}
figure.foto-cv figcaption {         /* as configurações do figcaption precisaram ser modificadas para que o script mudaFoto() funcionasse */
    opacity: 0;
    position: absolute;
    top: 0px;
    color: rgb(146,146,150);
    text-align: right;
    width: 200px;
    height: 20px;
    padding-top: 0px;
    margin: 175px 0px 0px 0px;       /* mexi nas margens para conseguir posicionar o nome que aparece ao passar com o mouse por cima da foto para o canto inferior direito da foto */
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-cv figcaption p {
    margin: 5px;
    padding: 0px;
    text-align: right;
}
figure.foto-cv:hover figcaption {
    opacity: 1;
}
figure.foto-cv:hover figcaption p {
    text-align: right;
    margin: 5px;
    padding: 0px;
    color: rgb(255,255,255);
}

/* Formatação do Cabeçalho do index.html */
header#cabecalho {
    border-bottom: 1px solid rgb(60,60,60);
    height: 150px;
    margin-left: 5px;
    margin-bottom: 0px;
}
header#cabecalho h1 {
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
header#cabecalho h2 {
    margin-left: 30px;
    margin-top: 15px;
}
header#cabecalho h3 {
    margin-left: 30px;
    color: rgb(146,146,150);
}
.foto-cv {
    display: flex;
    padding: 0px;
    margin-right: 20px;
    margin-top: -120px;
}

/* Formatação da Interface, comum a todas as páginas do CV */
div#interface {
    width: 900px;
    background-color: rgb(255,255,255);
    margin: 10px auto 0px auto;
    border-radius: 25px;
    padding: 10px;
}
div#interface h1 {
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    height: 60px;
    margin-left: 5px;
    border-bottom: 1px solid rgb(60,60,60);
}

/* Formatação do Menu de navegação localizado no index.html */
nav#menu {
    display: block;
    padding: 10px 45px 10px 00px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
nav#menu h1 {
    display: none;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    margin: auto;
}
nav#menu li {
    display: inline-block;
    background-color: rgb(221,221,221);
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}
nav#menu li:hover {
    background-color: rgb(75,95,155);
}
nav#menu a {
    color: rgb(75,95,155);
}
nav#menu a:hover {
    color: rgb(255,153,0);
}

/* Formatação de section, aside e footer */
section#principal {         /* comum a todas as páginas secundárias */
    width: 500px;
    padding: 0px;
    margin-top: -80px;
    margin-bottom: 0px;
}
section#principal-index {   /* configuração de section para o index.html */
    width: 320px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    float: left;
}
section#principal-creditos {    /* configuração da section para o creditos.html */
    width: 300px;
    padding: 0px;
    margin-top: -80px;
    margin-bottom: 0px;
}
aside#lateral {             /* configuração de aside para o index.html */
    width: 250px;
    height: 250px;
    padding: 10px;
    display: block;
    float: right;
    margin-left: -100px;
}
aside#lateral-creditos {    /* configuração de aside para créditos.html */
    width: 300px;
    height: 200px;
    padding: 10px;
    display: block;
    float: right;
    margin-left: -50px;
    margin-top: -200px;
}
footer#rodape {             /* comum a todas as páginas do CV */
    clear: both;
    padding-top: 10px;
    height: 100px;
    width: auto;
}
footer#rodape-principal {             /* configuração de rodapé exclusiva do index.html, por causa da inserção do áudio */
    clear: both;
    padding-top: 10px;
    height: 180px;
    width: auto;
}
footer#rodape-principal p {           /* configuração exclusiva para o parágrafo do rodapé do footer do index.html, onde fica a função Date() */
    height: 20px;
    margin: 10px 0px 10px 0px;
    text-align: center;
}

header#cabecalho-pags {     /* Formatação do cabeçalho das páginas de formação acadêmica, cursos e experiência profissional */
    height: 150px;
    width: auto;
    margin-left: 5px;
}
table#tabela-idiomas {      /* formatação da tabela de idiomas, localizada dentro do aside no index.html */
    border: 1px solid rgb(62,95,193);
    border-spacing: 0px;
    margin: 10px;
    padding: 0px;
    width: auto;
    height: auto;
}
table#tabela-idiomas td {   /* formatação da tabela de idiomas, localizada dentro do aside no index.html */
    border: 1px solid rgb(62,95,193);
    padding: 10px 15px 10px 15px;
    margin: 5px 0px 10px 0px;
    text-align: left;
    vertical-align: middle;
}
table#tabela-idiomas td.ce {    /* formatação da tabela de idiomas, localizada dentro do aside no index.html */
    color: rgb(255,255,255);
    background-color: rgb(62,95,193);
    vertical-align: middle;
    font-weight: bold;
}
table#tabela-idiomas td.cd {    /* formatação da tabela de idiomas, localizada dentro do aside no index.html */
    background-color: rgb(221,221,221);
}
table#tabela-idiomas caption {  /* formatação da tabela de idiomas, localizada dentro do aside no index.html */
    text-align: left;
    padding: 0px;
}
table#tabela-idiomas caption h4 {   /* formatação da tabela de idiomas, localizada dentro do aside no index.html */
    margin: 5px 0px 10px 0px;
    padding: 0px;
}

/* Formatação ícones das páginas secundárias */
figure.foto-diploma, figure.foto-cursos, figure.foto-exp-prof, figure.foto-contato, figure.foto-creditos {
    position: relative;
    width: 128px;
    height: 128px;
    float: right;
}
figure.foto-diploma img, figure.foto-cursos img, figure.foto-exp-prof img, figure.foto-contato img, figure.foto-creditos img {
    width: 100%;
    height: 100%;
}

/* Formatação da div onde o arquivo de áudio foi inserido, em index.html */
div#radio {
    width: 400px;
    background-color: rgb(255,255,255);
    margin: 0px auto 0px auto;
    padding: 0px;
    text-align: center;
}