# arquivos desenvolvidos e/ou utilizados pelos colegas de projeto

css/doe.css
css/participe.css
css/projetos-pgs.css

img/doe-alimentos.jpg
img/doe-brinquedos.png
img/doe-dinheiro.jpg
img/doe-higiene.webp
img/doe-livros.jpeg
img/doe-roupas.jpeg
img/female-icon.jpg
img/logo-ecosul.png
img/male-icon.jpg
img/nota-fiscal.avif
img/participe-corporativo.jpg
img/participe-voluntario.jpeg

js/slide.js

doe.html
participe.html
projeto-banda-marcial.html
projeto-educacao-fisica.html
projeto-esperanca.html
projeto-luta.html
projeto-rocha.html