/* Folha de estilo principal */
/* Definição de charset */
@charset "UTF-8";
/* Importando a fonte Inter do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&display=swap');

/* Tags principais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

html {
    scroll-behavior: smooth;
    width: 100%;
}

h1 {
    font-size: 24px;
    color: rgb(230, 134, 78);
    margin-left: 20px;
    margin-bottom: 0;
}

/* Área de Header e Navbar */
div#header-navbar {
    position: relative;
    justify-content: center;
    display: flex;
    width: auto;
    height: 110px;
}

header {
    display: flex;
    background-color: rgb(49, 106, 190);
    width: auto;
    height: 110px;
    margin-top: 0;
}

nav.navbar {
    position: relative;
    top: 0;
}

div#navbar-links a {
    color: #000000;
}

div#navbar-links a:hover {
    font-weight: bold;
    color: #DDA755;
}

/* Área de login */
div#login {
    position: relative;
    justify-content: center;
    display: flex;
    width: 450px;
    height: 500px;
    display: flex;
}

/* Footer */
footer {
    background-color: rgb(49, 106, 190);
    position: absolute;
    justify-content: center;
    height: 70px;
    width: 100%;
    display: flex;
}

div#conteudo-final {
    padding-top: 25px;
    color: rgb(255, 255, 255);
    position: relative;
    justify-content: center;
}
