/* Estilos para a landing page do Instituto de Menores (IMDAZ) */

/* Definição de charset */
@charset "UTF-8";

/* Importando a fonte Inter do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&display=swap');

/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
}

/* Estilos Header */
header {
    width: 100%;
    height: 110px;
    background-color: #316ABE;
    display: flex;
}

/* Div onde fica o nome da instituição */
div#left {
    margin-left: 30px;
    margin-top: 40px;
    width: 180px;
}

/* H1 com o nome da instituição */
h1 {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

/* Div onde fica o logo da instituição  */
div#center {
    margin-left: -20px;
    margin-top: 25px;
}

/* Estilos Navbar */
/* Div da Navbar */
div#right {
    display: flex;
    width: 600px;
    float: flex-end;
    align-items: center;
    font-size: 18px;
    color: #FFFFFF;
}

div#right a {
    color: #FFFFFF;
}

div#right a:hover {
    color: #E6864E;
    text-decoration: underline;
}

nav {
    display: flex;
    /*align-content: right;*/
}

ul {
    text-align: right;
    list-style: none;
}

ul li {
    display: inline-block;

}

span.bi-list {
    color: #FFFFFF;
    font-size: 25px;
}

span.bi-list:hover {
    color: #E6864E;
}

/* Mobile - Header e Navbar */
@media(max-width: 480px) {
    
    div#left {
        margin-left: 20px;
    }

    div#center {
        width: 150px;
        margin-left: -10px;
    }
    
}
