/* Estilos gerais para o site do Instituto de Menores (IMDAZ) */

/* Definição de charset */
@charset "UTF-8";

/* Importando a fonte Inter do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&display=swap');

/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
}

/* Estilos Header */
header {
    width: 100%;
    height: 110px;
    background-color: #316ABE;
    display: flex;
}

div.row {
    display: flex;
    justify-content: space-between;
}

/* Div onde fica o nome da instituição */
div#left {
    margin-left: 30px;
    margin-top: 40px;
    width: 180px;
    justify-content: start;
}

/* H1 com o nome da instituição */
h1 {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

/* Div onde fica o logo da instituição  */
div#center {
    margin-left: -250px;
    margin-top: 25px;
}

/* Estilos Navbar */
/* Div da Navbar */
div#right {
    display: flex;
    width: 600px;
    float: right; /* ajustar o alinhamento da div à direita do header */
    justify-content: right;
    align-items: center;
    font-size: 18px;
    color: #FFFFFF;
}

div#right a {
    color: #FFFFFF;
}

div#right a:hover {
    color: #E6864E;
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: right;
}

ul {
    text-align: right;
    list-style: none;
}

ul li {
    display: inline-block;

}

span.bi-list {
    color: #FFFFFF;
    font-size: 25px;
    display: none;
}

span.bi-list:hover {
    color: #E6864E;
}

/* Estilos Footer */
footer {
    width: 100%;
    height: 80px;
    background-color: #316ABE;
    display: flex;
    position: fixed;
    bottom: 0;
}

footer p {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 25px;
}

/* Mobile - Header e Navbar */
@media(max-width: 560px) {
    
    div.row {
        display: flex;
        justify-content: space-evenly;
    }

    div#left {
        width:32%;
        margin-left: 10px;
    }

    div#center {
        width: 30%;
        margin-left: 5px;
    }

    div#right {
        width: 32%;
        padding-right: 10px;
    }

    nav {
        background-color: #316ABE;
        align-content: end;
    }

    span.bi.bi-list {
        display: block;
    }

    button {
        align-self: inherit;
    }

    ul li {
        padding-right: 20px;
    }
    
}

@media(min-width: 561px) and (max-width: 1200px) {

    div#center {
        padding-left: -70px;
    }

    nav {
        background-color: #316ABE;
    }
}
